body {
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-rows: auto 1fr auto; /* Header and footer take auto height, main takes the rest */
  height: 100vh; 
  margin: 0; 
  font-family: Arial, sans-serif;
}

  .hamburger {
  background: none;
  border: 0px;
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
 
.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(44, 55, 64, 0.5); /* semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 999;
}
 
.nav-menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin: 10px;
}
 
.nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin: 30px;
  width: 100%;
}
 
.nav-menu a:hover {
  color: #f1f1f1;
}
 
.nav-menu.open {
  width: 350px;
}
/* header */
header {
    grid-area: header;
    background-color: #f5f5f5; 
    padding: 1rem; 
    border-bottom: 1px solid #ccc; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

header h1 {
    margin: 0;
    color: #636363; 
    font-size: 1.5em; 
    margin: auto;
}

/* main */
main {
    grid-area: main;
    padding: 20px;
    background: #f4f4f4;
}

/* footer */

footer {
    grid-area: footer;
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* table in character and card*/
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

th img, td img {
    vertical-align: middle;
}

th a {
    text-decoration: none;
    color: inherit; 
    cursor: pointer; 
  }
  
  th a:hover {
    text-decoration: underline; 
  }


.character-icon {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}

/* Character card */

.card {
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px; 
    margin: auto;
    text-align: center;
    align-items: center;
  }
  
  .card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .card-content {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .card-text {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
  }

  .related-cards {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
  }
  
  .related-cards li {
    padding: 5px 0; 
  }
  
  .related-cards a {
    text-decoration: none; 
    color: #2c18e0; 
  }
  
  .related-cards a:hover {
    text-decoration: underline; 
  }
  
  .motto {
    font-style: italic;
    color: #777;
    margin-bottom: 2rem;
  }

  /* Card Detail */
  .card-detail {
    position: relative;
    z-index: 2; 
    background: #ffffff;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 350px;
    margin: 40px auto;
    text-align: center;
  }
  
  .card-detail strong {
    color: #ddd; 
  }

  .card-detail::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(10px);
    border-radius: 10px; 
    z-index: -1;
    background-image: var(--card-bg-url);
  }

  .card-detail h1 {
    font-size: 2rem;
    color: #fff;
    margin-top: 0;
  }
  
  .card-detail img {
    max-width: 100%;
    height: auto;
    margin: 20px 0; 
  }
  
  .card-detail p {
    text-align: left;
    margin: 10px 0; 
  }
  
 .back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #ff00bf;
    font-weight: bold;
  }
  
.back-link:hover {
    text-decoration: underline;
  }

  .card-background {
  background-size: cover;
  background-position: center center;
}

/* Character Background */
.character-background {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

/* Character Detail */
.character-detail {
  position: relative;
  z-index: 2; 
  background: rgba(255, 255, 255, 0.85); 
  color: #000; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 350px;
  margin: 40px auto;
  text-align: center;
}

.character-detail::before {
  content: '';
  position: absolute;
  top: -10px; 
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-image: var(--character-bg-url);
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  border-radius: 10px;
  z-index: -1;
}

.character-detail h1, .character-detail figcaption {
  color: #fff;
}

.character-detail p, .character-detail h2 {
  color: #ffffff; 
}

  /* Types */
  .type-ritual { background-color: #486eb5; color: #fff; padding: 2px 4px; border-radius: 4px; }
    
  .type-synchro { background-color: #e9e8e6; padding: 2px 4px; border-radius: 4px; }
      
  .type-normal { background-color: #db913f; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-effect { background-color: #bf6e23; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-link { background-color: #0e4683; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-spell { background-color: #2da188; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-trap { background-color: #aa367c; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-fusion { background-color: #7936b1; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-dark-synchro { background-color: #5a4942; color: #fff; padding: 2px 4px; border-radius: 4px; }
      
  .type-xyz { background-color: #151714; color: #fff; padding: 2px 4px; border-radius: 4px; }


  /* main {
    background-image: url('https://raw.githubusercontent.com/AP-G-1PRO-Webontwikkeling/project-webontwikkeling-Rizwan-ah07/main/assets/images/BG-Black-Rose-Dragon.jpg');
    background-size: cover;
    background-position: center center;
  }
   */


/* Signup and Login */

#loginBody {
  background-image: url("/assets/BG-Blue-Eyes-White-Dragon.jpg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#registerBody{
  background-image: url("/assets/BG-Galaxy-Eyes-Photon-Dragon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginSection {
  width: 100%;
  position: relative;
  z-index: 2; 
  background: rgba(111, 100, 173, 0.85); 
  color: #3a39393b; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

#loginSection::before {
  content: '';
  position: absolute;
  top: -10px; 
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-image: url("/assets/BG-Blue-Eyes-White-Dragon.jpg.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  border-radius: 10px;
  z-index: -1;
}

#loginSection h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
}

#loginSection form input {
  width: 100%; 
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

#loginSection form input[type="submit"] {
  background-color: #2C3740;
  color: #F2D544;
  font-weight: bold;
  cursor: pointer;
}

#loginSection p {
  font-weight: bold;
  color: #ffffff;
}

#registerSection {
  width: 100%;
  position: relative;
  z-index: 2; 
  background: rgba(149, 141, 172, 0.85); 
  color: #3a39393b; 
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  text-align: center;
}

#registerSection::before {
  content: '';
  position: absolute;
  top: -10px; 
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-image: url("/assets/Galaxy-Eyes-Photon-Dragon.jpg");
  background-size: cover;
  background-position: center center;
  filter: blur(10px);
  border-radius: 10px;
  z-index: -1;
}

#registerSection h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #2C3740;
}

#registerSection form input {
  width: 100%; 
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

#registerSection form input[type="submit"] {
  background-color: #2C3740;
  color: #F2D544;
  font-weight: bold;
  cursor: pointer;
}

#registerSection p {
  font-weight: bold;
  color: #2C3740;
}


@media only screen and (max-width: 600px) {
  #loginSection {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
  }

  #loginSection form {
    display: flex;
    flex-direction: column;
  }

  #registerSection {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
  }

  #registerSection form {
    display: flex;
    flex-direction: column;
  }
}

/* card edit page */

.card-edit-header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
  margin-bottom: 1em; 
}

.card-edit-main {
  max-width: 800px;
  width: calc(100% - 2em); 
  margin: 2em auto;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px); 
  position: relative;
  z-index: 1;
}

.card-edit-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/card-edit-bg.jpg');
  border-radius: 8px;
  filter: blur(10px);
  z-index: -1;
}

.card-edit-legend,
.card-edit-label {
  font-weight: bold;
  color: white; 
}

.card-edit-fieldset {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1.5em; 
}

.card-edit-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em; 
}

.card-edit-section {
  position: relative;
}

.card-edit-input,
.card-edit-textarea,
.card-edit-select {
  padding: 20px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  color: white; 
  margin-bottom: 1em; 
}

.card-edit-select{
  background-color: rgba(255, 255, 255, 0.1);
  color: #486eb5;
}

.card-edit-textarea {
  resize: vertical;
}

.card-edit-checkbox {
  transform: scale(1.5);
  margin-left: 0.5em;
}

.card-edit-button {
  background-color: #333;
  color: white;
  padding: 0.75em 2em; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 1em; 
}

/* log out */

#logout-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#logout-form button {
  background-color: #ff4d4d; 
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease; 
}

#logout-form button:hover {
  background-color: #e60000; 
}

@media only screen and (min-width: 321px) and (max-width: 768px)  {

            
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  header h1 {
      font-size: 1.5em;
      margin-bottom: 0.5rem;
  }

  header form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  header form input,
  header form select,
  header form button {
      margin: 0.5em 0;
      width: 90%;
      font-size: 1em;
  }
  
      header form {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
      }

      header form input,
      header form select,
      header form button {
          width: auto;
          margin: 0.5em;
      }
  }

  