<button id="hamburger" aria-label="Open navigation menu" class="hamburger">&#9776;</button>
<nav id="nav-menu" class="nav-menu">
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="/">Home</a></li>
    <li class="sidebar-item">
      <a href="/cards">Cards</a></li>
    <li class="sidebar-item">
      <a href="/characters">Characters</a></li>
  </ul>
  <form id="logout-form" action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>
</nav>